<!DOCTYPE html>
<html lang="en" class="dark">
  {% include head.html %}
  <body
    class="bg-gray-100 dark:bg-gray-900 dark:text-white transition-colors duration-300 max-h-100 overflow-y-auto [&::-webkit-scrollbar]:w-4.5 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-gray-900 [&::-webkit-scrollbar-thumb]:absolute [&::-webkit-scrollbar-thumb]:bg-gray-400 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-700 [&::-webkit-scrollbar-thumb:hover]:bg-gray-500 dark:[&::-webkit-scrollbar-thumb:hover]:bg-neutral-400"
    data-controller="theme loading copy"
  >
    {% include navigation.html %}
    <main class="max-w-6xl mx-auto px-6 sm:px-8 lg:px-12 py-12">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
