---
layout: default
---

<!-- Blog Content -->
<div class="text-center mb-12">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">
    Welcome to My Blog
  </h1>
  <p class="text-gray-600 dark:text-gray-300 mx-auto max-w-2xl">
    {{ site.description }}
  </p>
</div>
<!-- Post Grid -->
<div class="grid grid-cols-1 md:grid-cols-1 gap-6 md:mx-50 mb-6">
  {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date:
  '%Y'" %} {% for year in posts_by_year %}

  <!-- Year Heading -->
  <h2 class="text-2xl font-bold text-gray-700 dark:text-gray-200 mt-3">
    {{ year.name }}
  </h2>

  {% for post in year.items %}
  <!-- Post Card -->
  <a href="{{ post.url | relative_url }}">
    <div
      class="bg-white hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-600 rounded-lg shadow-lg overflow-hidden"
    >
      <!-- Post Content -->
      <div class="p-4">
        <h3
          class="text-xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
        >
          {{ post.title }}
        </h3>

        <div
          class="flex items-center text-sm text-gray-500 dark:text-gray-400 space-x-2"
        >
          <span>{{ post.date | date: "%b %-d, %Y" }} - {{ post.author }}</span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %} {% endfor %}
</div>
