---
layout: default
---

<div
  class="relative md:mr-25 md:ml-25 bg-white dark:bg-gray-800 rounded-l-lg rounded-r-lg shadow-lg overflow-hidden mb-6"
>
  <article class="max-w-4xl mx-auto px-4 sm:px-6 py-8">
    <h1
      class="text-3xl md:text-4xl font-bold text-primary dark:text-blue-400 mb-4 animate-fade-in"
    >
      {{ page.title }}
    </h1>

    <div
      class="flex items-center text-sm text-gray-500 dark:text-gray-400 mb-6"
    >
      <span>{{ page.date | date: "%b %-d, %Y" }} - {{ page.author }}</span>
    </div>

    <div
      class="h-px w-full bg-gradient-to-r from-black to-transparent dark:from-blue-400 mb-8"
    ></div>

    <div
      class="prose dark:prose-invert prose-lg max-w-none text-gray-700 dark:text-gray-200"
    >
      {{ content }}
    </div>
  </article>
</div>

<div
  class="relative md:mr-25 md:ml-25 bg-white dark:bg-black rounded-l-lg rounded-r-lg shadow-lg overflow-hidden mb-6"
>
  {% if page.comments %}
  <div class="p-3">
    <div id="disqus_thread"></div>
  </div>
  <script>
    var disqus_config = function () {
      this.page.url =
        "https://whdzera.com/{{ page.path | split: '/' | last | remove: '.md' | slice: 11, 100 }}.rb";
      this.page.identifier = "{{ page.url }}";
    };

    (function () {
      var d = document,
        s = d.createElement("script");
      s.src = "https://{{ site.disqus }}.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  {% endif %}
</div>
