---
layout: default
---

<div class="text-center mb-12">
  <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-4">
    My Projects
  </h1>
  <p class="text-gray-600 dark:text-gray-300 mx-auto max-w-2xl">
    Kumpulan proyek yang saya buat, baik itu untuk belajar maupun untuk
    digunakan secara pribadi atau komersil.
  </p>
</div>

<!-- Post Grid -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:mx-24 mb-6">
  <!-- Kitsu -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a
      href="{{ '/projects/kitsu' | relative_url }}"
      data-controller="thumbnail"
    >
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../_app/assets/images/kitsu-manga.png"
          alt="Kitsu-manga"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>

    <a href="{{ '/projects/kitsu' | relative_url }}">
      <div class="p-3">
        <h3
          class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
        >
          Kitsu Manga
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Website membaca Manga / Komik yang dibangun dengan Ruby on rails.
        </p>
      </div></a
    >
  </div>

  <!-- Atem -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a href="{{ '/projects/atem' | relative_url }}" data-controller="thumbnail">
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../_app/assets/images/atem.png"
          alt="Atem-bot"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>
    <a href="{{ '/projects/atem' | relative_url }}">
      <div class="p-3">
        <h3
          class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
        >
          Atem bot
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Bot Discord, Telegram dan Whatsapp untuk mencari kartu Yu-Gi-Oh!.
        </p>
      </div>
    </a>
  </div>

  <!-- Tear -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a href="{{ '/projects/tear' | relative_url }}" data-controller="thumbnail">
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../_app/assets/images/tear.png"
          alt="Tear Theme"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>
    <a href="{{ '/projects/tear' | relative_url }}">
      <div class="p-3">
        <h3
          class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
        >
          Tear Theme
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Tema Blog untuk Jekyll menggunakan tailwindcss dan stimulus.js.
        </p>
      </div>
    </a>
  </div>

  <!-- Niri -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg overflow-hidden">
    <a href="{{ '/projects/niri' | relative_url }}" data-controller="thumbnail">
      <div class="w-full h-48 overflow-hidden rounded-t-lg">
        <img
          src="../_app/assets/images/niri.png"
          alt="Niri Theme"
          data-thumbnail-target="image"
          class="w-full h-48 object-cover transition duration-300 ease-in-out rounded-lg"
        />
      </div>
    </a>

    <a href="{{ '/projects/niri' | relative_url }}">
      <div class="p-3">
        <h3
          class="text-2xl font-bold text-gray-800 dark:text-white hover:text-primary transition-colors"
        >
          Niri Theme
        </h3>
        <p class="text-gray-600 dark:text-gray-300">
          Tema Blog untuk Jekyll menggunakan Bulma dan font Awesome.
        </p>
      </div>
    </a>
  </div>
</div>
